streamlit
modal
streamlit-antd-components
requests
pymongo
pandas
urllib3
ast
numpy
python-dotenv
deprecation
streamlit_calendar
streamlit-shadcn-ui
reportlab
python-docx 
docx2pdf 
pythoncom
reportlab